﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row center">
    <h2><b>THE FUTURE IS AUTOMATED</b></h2>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey lighten-5 ">
            <div class="card-content ">
                <span class="card-title"><b>Development Automation</b></span>
                <hr />
                <p>
                    Feature branch and release builds on code changes with integrated unit testing through pipelines.
                </p>

            </div>
            <div class="card-action">
                <a asp-controller="Automation" asp-action="Development">Read more...</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey lighten-5 ">
            <div class="card-content ">
                <span class="card-title"><b>Deployment Automation</b></span>
                <hr />
                <p>
                    Dynamic environment management, configuration and installation using containers.
                </p>

            </div>
            <div class="card-action">
                <a asp-controller="Automation" asp-action="Deployment">Read more...</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey lighten-5 ">
            <div class="card-content ">
                <span class="card-title"><b>Test Automation</b></span>
                <hr />
                <p>
                    Behavior driven API and cross-browser and cross-platform web testing.
                </p>

            </div>
            <div class="card-action">
                <a asp-controller="Automation" asp-action="Test">Read more...</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey lighten-5 ">
            <div class="card-content ">
                <span class="card-title"><b>Analytics Automation</b></span>
                <hr />
                <p>
                    Continuous monitoring of availabiliy and performance in development and production.
                </p>

            </div>
            <div class="card-action">
                <a asp-controller="Automation" asp-action="Analytics">Read more...</a>
            </div>
        </div>
    </div>
</div>
